@import url(http://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:400,900);

html,body { height: 100%; min-height: 100%; }

html {
}

body {
    background-color: transparent;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width : 768px) {
    body {
        font-size: 1.4rem;
    }
}

a {
    color: white;
}

a:hover {
    color: white;
}

[data-before]::before {
    content: attr(data-before);
}

[data-after]::after {
    content: attr(data-after);
}

/* Menu and brand */
.navbar-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    text-transform: uppercase;
}

.navbar-brand span {
    color: white;
    font-size: 120%;
    text-transform: lowercase;
}

#logo-brand {
    width: 2em;
    height: 2em;
}

/* Page Structure (Sections) */
section {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

section h2 {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 6.3vh;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (max-width : 768px) {
    section h2 {
        font-size: 8vw;
    }
}

section#headline {
    background-image: url('/assets/images/picasso-2009.jpg');
}

section#immersive-exhibitions, section#expositions-immersives {
    background-image: url('/assets/images/starry-night-lililillilil.jpg');
}

section#videos {
    background-image: url('/assets/images/dans-ma-tete.png');
}

section#videos h2, section#videos a {
    color: black;
}

.section-caption {
    padding-left: 25%;
    text-align: center;
    font-size: 200%;
    margin-top: -.5em;
}

@media only screen and (max-width : 768px) {
    .section-caption {
        font-size: 100%;
        padding-left: 0;
    }
}


/* Bottom section */
section#about, section#a-propos {
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-attachment: scroll, fixed;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('/assets/images/dans-ma-tete.png');
    color: white;
    height: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

.column:last-of-type {
    text-align: right;
}
