{# meta
generate: true
#}

{% set lang = en %}

{% extends 'twig/base.html.twig' %}

{% block body %}
<p>As a specialist in projection mapping for audiovisual creations, I work with the artists to visually enhance their concepts and ideas.</p> <p>I took part in several immersive shows like <a>Van Gogh</a> (Cathédrale d'Images), <a href="http://www.gianfranco-iannuzzi.com/2006/couleurs-cezanne/">Couleurs&nbsp;Cézanne</a>, <a href="http://www.gianfranco-iannuzzi.com/2007/venise/">Venise</a> and <a href="http://www.gianfranco-iannuzzi.com/2009/picasso/">Picasso</a> (Gianfranco Iannuzzi) or even Australia, (Jean Charbonneau).</p> <p>I work internationally for companies around the globe like <a href="http://www.grandeexhibitions.com/traveling-exhibitions/van-gogh-alive/">Grande Exhibition</a> (Melbourne, Australia), <a href="http://www.marinabaysands.com/museum.html">Art Science Museum</a> (Singapore), <a href="http://www.corporatetheatreproductions.com.au/">Corporate Theatre Productions</a> (Perth, Australia), <a href="">culturespaces</a> (Baux de Provence, France)<E2><80><A6> setting up audiovisual artworks and installations as well as corporate events.</p>
{% endblock %}
