{# meta
generate: true
#}

{% extends 'twig/base.html.twig' %}

{% block title %}{{ fr.title }}{% endblock %}
{% block brand %}{{ fr.brand }}{% endblock %}

{% block body %}
<p>Spécialiste de la mise en projection de spectacles audiovisuels, je travaille en collaboration avec les artistes pour mettre en valeur leurs concepts.</p>
<p>J'ai particip&eacute; à  la réalisation d'œuvres immersives telles que <a>Van Gogh</a> (Cathédrale d'Images), <a href="http://www.gianfranco-iannuzzi.com/2006/couleurs-cezanne/">Couleurs&nbsp;Cézanne</a>, <a href="http://www.gianfranco-iannuzzi.com/2007/venise/">Venise</a> et <a href="http://www.gianfranco-iannuzzi.com/2009/picasso/">Picasso</a> (Gianfranco Iannuzzi) ou encore Australia, (Jean Charbonneau).</p>
<p>J'ai collaboré avec des sociétés internationales comme <a href="http://www.grandeexhibitions.com/traveling-exhibitions/van-gogh-alive/">Grande Exhibition</a> (Melbourne, Australia), <a href="http://www.marinabaysands.com/museum.html">Art Science Museum</a> (Singapore), <a href="http://www.corporatetheatreproductions.com.au/">Corporate Theatre Productions</a> (Perth, Australia), <a href="">culturespaces</a> (Baux de Provence)… à la création de projets audiovisuels artistiques ainsi qu'à la production d'événements d'entreprises.</p>
{% endblock %}
